/node_modules
/public/build
/public/hot
/public/storage
/storage/framework
/storage/logs
/storage/app/admin
/storage/app/admin_tmp
/storage/app/backup
/storage/app/public
/storage/app/purifier
/storage/app/saml
/storage/app/templates
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
